html {
    scroll-behavior: smooth;
}

:root {
    --main-accent-color: #c95d85;
}

h1,
h2 {
    font-family: 'Montserrat', sans-serif;
    color: darkslategray;
}

a, body {
    font-family: "Helvetica Neue";
    color: darkslategray;
}

a.text-link {
    text-decoration: underline;
    text-underline-offset: 0.2em;
}
a.text-link:hover {
    text-decoration: underline;
    text-underline-offset: 0.2em;
    color: var(--main-accent-color);
}

a:hover {
    text-decoration: none;
    color: var(--main-accent-color);
}

a:hover h5 {
    text-decoration: underline;
    text-underline-offset: 0.2em;
    color: var(--main-accent-color);

}

h5 {
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
}

li {
    background-color: white;
}


footer {
    display: flex;
    padding-top: 5vh;
    height: 20vh;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(white, #fff5f9);
}

.navbar {
    background-color: white;
    box-shadow: 1em;
}

.navbar-brand {
    font-family: "Montserrat";
    font-size: 2em;
    text-decoration: none;
    color: black;
}

.navbar-brand:hover {
    color: black;   
}

.navbar-nav {
    background-image: linear-gradient(#fff9fc, white);

}

.nav-link {
    font-family: 'Montserrat', sans-serif;
    color: gray;
}

.nav-link:hover {
    font-weight: 300;
}

.nav-link.active {
    color: black;
}

.nav-link.active:hover {
    text-decoration: none;
    color: black;
}

@media only screen and (max-width: 768px) {
    .nav {
        display: grid;
    }
}

.jumbotron {
    background-image: linear-gradient(#fff9fc, white);
    padding-left: 15px;
    padding-right: 15px;
}

.words {
    max-width: 1000px;
    min-height: 100vh;
    font-size: 2.5vh;
}

.hidden {
    display: none;
}

.nav-item-menu {
    outline: 1px solid;
    border: 1px solid;
    background-color: white;
}

.nav-item-menu:hover {
    outline: 1px solid;
    border: 1px solid;
    background-color: #f0bdd0;
}

.nav-item:hover {
    font-weight: bold;
}

.nav-link:hover {
    text-decoration: underline;
}
