html {
    scroll-behavior: smooth;
}

:root {
    --main-accent-color: #c95d85;
}

h1,
h2 {
    font-family: 'Montserrat', sans-serif;
    color: darkslategray;
}

a, body {
    font-family: "Helvetica Neue";
    color: darkslategray;
    font-weight: 300;
}

a.text-link {
    text-decoration: underline;
    text-underline-offset: 0.2em;
}
a.text-link:hover {
    text-decoration: underline;
    text-underline-offset: 0.2em;
    color: var(--main-accent-color);
}

a:hover {
    text-decoration: none;
    color: var(--main-accent-color);
}

a:hover h5 {
    text-decoration: underline;
    text-underline-offset: 0.2em;
    color: var(--main-accent-color);

}

h5 {
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
}

li {
    background-color: white;
}


footer {
    display: flex;
    padding-top: 5vh;
    height: 20vh;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(white, #fff5f9);
}

.header {
    padding-top: 30vh;
    height: 100vh;
    font-size: 2.5vh;
}

.title {
    vertical-align: middle;
    font-size: 6.5vh;
}

.navbar {
    background-color: white;
    box-shadow: 1em;
}

.navbar-brand {
    font-family: "Montserrat";
    font-size: 2em;
    text-decoration: none;
}

.navbar-nav {
    background-image: linear-gradient(#fff9fc, white);

}

@media only screen and (max-width: 768px) {
    .nav {
        display: grid;
    }

    h5 {
        background-color: rgb(255, 255, 255, 0.5);
        border-radius: 10px;
    }

    .carousel-image {
        width: 100%;
    }

    .carousel-caption {
        padding-bottom: 0;
        height: auto;
        max-width: 60vw;
    }
}

.jumbotron {
    background-image: linear-gradient(#fff9fc, white);
    padding-left: 15px;
    padding-right: 15px;
}

.words {
    max-width: 1000px;
    min-height: 100vh;
    font-size: 2.5vh;
}

.hidden {
    display: none;
}

.container {
    padding-top: 6em;
}

#arrow {
    padding-top: 10vh;
    -webkit-animation: pulse 2s infinite;
    animation: pulse 2s infinite;
}

.nav-item-menu {
    outline: 1px solid;
    border: 1px solid;
    background-color: white;
}

.nav-item-menu:hover {
    outline: 1px solid;
    border: 1px solid;
    background-color: #f0bdd0;
}

.nav-item:hover {
    font-weight: bold;
}

.nav-link:hover {
    text-decoration: underline;
}

.carousel-item a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2em;
}

.carousel-caption {
    position: relative;
    height:20vh;
    left: auto;
    right: auto;
    color: darkslategray;

}

.carousel-caption-text {
    position: relative;
    padding-top: 2em;
    padding-left: 10vw;
    padding-right: 10vw;
}

.carousel-image {
    margin: 0 auto;
    border-radius: 10px;
    height: 40vh;
    max-height: 400px;
    box-shadow: 0px 20px 40px rgba(128,128,128,0.5);
}

.carousel-control-prev,
.carousel-control-next {
    color: black;
    opacity: 50%;
    font-size: 2em;
    z-index: 100;
}

.carousel-control-prev:hover,
.carousel-control-prev:focus,
.carousel-control-next:hover,
.carousel-control-next:focus {
    color: black;
    opacity: 90%;
    font-size: 2em;
}

.padding-btm-10 {
    padding-bottom: 10vh;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(0.9);
        -webkit-transform: translate(0px, 0px);
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    90% {
        -webkit-transform: scale(1);
        -webkit-transform: translate(0px, 10px);
        opacity: 0;
    }

    100% {
        -webkit-transform: scale(1);
        -webkit-transform: translate(0px, 10px);
        opacity: 0;
    }
}

@keyframes pulse {
    0% {
        transform: scale(0.9);
        transform: translate(0px, 0px);
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    90% {
        transform: scale(1);
        transform: translate(0px, 10px);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        transform: translate(0px, 10px);
        opacity: 0;
    }
}
