
@font-face {
    font-family: 'luluregular';
    src: url('./fonts/lulu-regular-webfont.woff2') format('woff2'),
         url('./fonts/lulu-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'melodyregular';
    src: url('./fonts/melody-regular-webfont.woff2') format('woff2'),
         url('./fonts/melody-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


html {
    scroll-behavior: smooth;
}

body {
    background-image: linear-gradient(#fff9fc 0%, white 15%);
}

body,
h1,
h2,
a {
    font-family: 'Montserrat', sans-serif;
    color: darkslategray;
}

.card a:hover {
    text-decoration: none;
    color: darkslategray;
}

h5 {
    font-family: "luluregular";
    font-size: 3em;
}

.bmc-btn:hover {
    color:white;
}

.highlight {
    color: #c95d85;
    cursor: pointer;
    text-decoration: underline;
}

.special-link:hover {
    color: #c95d85;
    text-decoration: none;
}

.card-link:hover {
    color: darkslategray;
    text-decoration: none;
}

footer {
    display: flex;
    padding-top: 5vh;
    height: 20vh;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(white, #fff5f9);
}

.container {
    padding-top: 6em;
}

#logo {
    max-width: 70vw;
    padding-bottom: 2em;
}
@media only screen and (min-width: 768px) {
#logo {
    width: 30vw;
}
}

.modal-title {
    color: #c95d85;
}

.card-title {
    color: #c95d85;
    font-size: 2em;
    font-family: "luluregular";
}

.card-header {
    background-color: #c95d85;
    color: white;
    font-size: 2em;
    font-family: "luluregular";
}

.bg-pink {
    background-color: #c95d85;
}

.btn-pink {
    background-color: #c95d85;
    color: white;
    /* font-weight: bold; */
}

.blurred {
    filter: blur(8px);
  -webkit-filter: blur(8px);
}

.header {
    padding-top: 2em;
    padding-bottom: 2em;
    display: flex;
    justify-content: center;
}

#topbtn {
    display: none;      
    border: 1px solid;
    background-color: white;
    color: #998E96;
    cursor: pointer;
    padding: 0.75em;
    position: fixed;
    bottom: 2em;
    right: 2em;
    border-radius: 5px;
}