h1,
h2 {
    font-family: 'Montserrat', sans-serif;
    color: darkslategray;
}

hr {
    border-top: 1px solid var(--main-accent-color);
}

body {
    background-image: linear-gradient(#fff9fc 0%, white 15%);
}

.header {
    padding-top: 2em;
    padding-bottom: 2em;
    display: flex;
    justify-content: center;
}

@media only screen and (min-width: 768px) {
    .header {
        padding-top: 4em;
    }
}

.container {
    width: 80vw;
    max-width: 1200px;;
}

/* Filter Buttons */
.filter table {
    table-layout: auto;
    border: 1px solid black;
}

.filter th {
    padding: 0;
    border: 1px solid black;
}

.filter th:has(> button.clicked_btn) {
    border: 1px solid var(--main-accent-color);
    background-color: var(--main-accent-color);
}

.filter {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
}

button.btn {
    background-color: white;
    border-radius: 0;
}

button.btn:hover {
    color: var(--main-accent-color);
}

button.clicked_btn {
    background-color: var(--main-accent-color);
    color: white;
}

button.clicked_btn:hover{
    background-color: var(--main-accent-color);
    color: white;
    cursor: default;
}

/*END FILTER BAR CONTENT*/


/* Tile */
.projects {
    font-family: "Helvetica Neue";
    color: darkslategray;
}

.projects a:hover {
    color: darkslategray;
}

.projects a:hover th {
    text-decoration: underline;
    text-underline-offset: 0.2em;
    color: var(--main-accent-color);
}

.tile:has(> a:hover) {
    transform: scale(1.005);
}

.projects td {
    padding: 0.5em;
    padding-left: 1em;
}

.projects th {
    padding: 0.5em;
    padding-left: 0.7em;
    font-size: 18pt;
}

.projects .image {
    padding: 0;
    width: 25vw;
}

.badge{
    margin: 0.2em;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.75em;
    font-weight: 300;
    background-color: var(--main-accent-color);
    color: white;
}

.tile {
    background-color: white;
    margin: 1em;
    box-shadow: 0 2px 16px 0 lightgrey;
}

/*END TILE CONTENT*/

@media only screen and (min-width: 1050px) {
    .mobile-only {
        display: none;
    }
}

@media only screen and (max-width: 1050px) {
    .desktop-only{
        display: none;
    }

    .tile table {
        width: 100%;
    }
}
