html {
    scroll-behavior: smooth;
}


body,
h1,
h2,
a {
    font-family: 'Montserrat', sans-serif;
    color: darkslategray;
}

h5 {
    font-size: medium;
    font-weight: 600;
}

h6 {
    font-size: small;
}

body {
    background-image: linear-gradient(#fff9fc 0%, white 15%);
}

hr {
    border-top: 1px solid #f0bdd0;
}

ul {
    padding-left: 1em;
}

footer {
    display: flex;
    padding-top: 5vh;
    height: 20vh;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(white, #fff5f9);
}

.container {
    padding-left: 15px;
    padding-right: 15px;
}

.header {
    padding-top: 2em;
    padding-bottom: 2em;
    display: flex;
    justify-content: center;
}

table {
    table-layout: fixed;
}

th,
td {
    width: 20em;
    color: darkslategray;
}

th {
    font-weight: 600;
}

.top-toggle {
    padding-top: 1em;
    display: flex;
    justify-content: center;
}

.faded {
    color: #6d8383;
    font-weight: 400;
}


.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f0bdd0;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 17px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 6px;
    bottom: 5px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

.switch {
    position: relative;
    display: inline-block;
    width: 38px;
    height: 23px;
}


input:checked+.slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

.card {
    border-radius: 0;
    box-shadow: 0 2px 16px 0 lightgrey;
}

.card-header {
    padding-top: 1em;
    background-color: white;
    font-size: x-large;
}

@media only screen and (min-width: 1050px) {
    .mobile-only {
        display: none;
    }
}

@media only screen and (max-width: 1050px) {
    .desktop-only{
        display: none;
    }
}

.badge {
    font-weight: 600;
}

.badge-gray {
    background-color: #E8E8E8;
}

.badge-gray:hover {
    background-color: #f0bdd0;
}

.badge-skills {
    background-color: #E8E8E8;
    padding: 0.5em;
}

.fa-sort-down:hover {
    color:var(--main-accent-color);
}