footer {
    padding: 3em;
    background-color: #004F6C;
    text-align: center;
    color: #FFFFFF;
    font-size: 1em;
    font-weight: 700;
}

.header {
    text-align: center;
    color: #004F6C;
}

a img {
    height: 2em;
    width: auto;
    color: #004F6C;
}

a.nav-link {
    cursor: pointer;
}

.help {
    text-align: right;
}

i.fa {
    color: #50B848;
    cursor: pointer;
}

i.fa:hover {
    color: #BCD19B;
}

.bg-success {
    background-color: #50B848 !important;
    height: 50px;
    font-size: 14;
    color: black;
    font-weight: 800;
}

.bg-danger {
    background-color: #FA4616 !important;
    height: 50px;
    font-size: 14;
    color: black;
    font-weight: 800;
}

.bg-warning {
    height: 50px;
    font-size: 14;
    color: black;
    font-weight: 800;
}

.badge-dark {
    background-color: #004F6C;
}

.btn.disabled {
    pointer-events: none;
}

#processed_data {
    max-height: 40vh;
}

.tooltip-inner {
    text-align: left;
}

#calculate {
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    padding: 15px;
    /* Some padding */
    border-radius: 4rem;
    height: 4rem;
    min-width: 4rem;
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.29);
    transition: transform .2s;
    background-color: #50B848;
    padding-left: 1.5em;
    padding-right: 1.5em;
    display: inline;
}
@media (hover:hover) {
    #calculate:hover {
        background-color: #50B848;
        transform: scale(1.1);
    }
}

@media only screen and (max-width: 768px) {
    #calculate span {
        display: none;
    }
    
    #calculate {
        padding-left: 0;
        padding-right: 0;
    }
}