/*Sets page to A4*/
@page {
  size: A4;
}

/*Set up margins*/
@page :left {
  margin-left: 2cm;
}

@page :right {
  margin-right: 2cm;
}


div .heading-container {
	padding-top: 25px;
	padding-left: 25px;
	padding-right: 0px;
}

div .merge {
	display: inline;
}


/*
<!-- h5 -> Descriptions -->
<!-- h4 -> Companies -->
<!-- h3 -> Sections -->
<!-- h1 -> Name -->
*/

h1 {
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 5px;
	font-size: 45pt;
	text-shadow: 1px 1px 0px #9E9E9E;
	color: black;
	margin-bottom: 0px;
	font-weight: bold;
}

h3{
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 0px;
	color: black;
	margin-bottom: 15px;
	font-size: 15pt;
}

h4{
	font-family: 'Quicksand', sans-serif;
	letter-spacing: 0px;
	margin-bottom: 0px;
	font-size: 12pt;
}

h5{
	font-family: 'Quicksand', sans-serif;
	letter-spacing: 0px;
	margin-bottom: 3px;
	font-size: 10pt;
}

p{
	font-family: 'Quicksand', sans-serif;
	margin: 0px;
	font-size: 10pt;
	padding-bottom: 2px;
}

ul {
	font-family: 'Quicksand', sans-serif;
	margin-bottom: 3px;
	padding-left: 15px;
	font-size: 9pt;
}

hr {
	margin-top: -0.5rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 3px solid rgb(0, 0, 0);
}

